body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.container {
  text-align: center;
  padding-top: 30vh;
}

h1 {
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #555;
}
